
    

<!-- Service Start -->
<div class="service">
    <A NAME="fitness"></A>
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Benefits of Working Out</p>
            
            <h2>Workout at Home For Health</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-workout"></i>
                    </div>
                    <h3>Heal emotions</h3>
                    <p>
                        Exercise has been shown to improve your mood and decrease feelings of depression, anxiety and stress. It produces changes in the parts of the brain that regulate stress and anxiety. Exercise can increase the production of endorphins, which are known to help produce positive feelings and reduce the perception of pain. (Anderson, 2009)
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item active">
                    <div class="service-icon">
                        <i class="flaticon-workout-1"></i>
                    </div>
                    <h3>Weight Loss</h3>
                    <p>
                        Some studies have shown that inactivity is a major factor in weight gain and obesity. While dieting, a reduced calorie intake will lower your metabolic rate, which will delay weight loss. On the contrary, regular exercise has been shown to increase your metabolic rate, which will burn more calories and help you lose weight. (Gilliat-Wimberly, 2001)
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-workout-2"></i>
                    </div>
                    <h3>Mind & Serenity</h3>
                    <p>
                        Exercise can improve brain function and protect memory and thinking skills. To begin with, it increases your heart rate, which promotes the flow of blood and oxygen to your brain. It can also stimulate the production of hormones that can enhance the growth of brain cells. (Berchtold, 2007)
                    <br><br>
                </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-workout-3"></i>
                    </div>
                    <h3>Reduce the Risk of Chronic Disease</h3>
                    <p>
                        Exercise can be a real energy booster for healthy people, as well as those suffering from various medical conditions. In fact, exercise seems to be more effective at combating chronic fatigue syndrome (CFS) than other treatments, including passive therapies like relaxation and stretching, or no treatment at all.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-workout-4"></i>
                    </div>
                    <h3>Improves Mood</h3>
                    <p>
                        Physical activity stimulates various brain chemicals that may leave you feeling happier, more relaxed, and less anxious. You may also feel better about your appearance and yourself when you exercise regularly, which can boost your confidence and improve your self-esteem by staying fit.
                        <br><br><br></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-yoga-pose"></i>
                    </div>
                    <h3>Memory and Thinking</h3>
                    <p>
                        The same endorphins that make you feel better also help you concentrate and feel mentally sharp for tasks at hand. Exercise also stimulates the growth of new brain cells and helps prevent age-related decline.
                        <br><br><br><br><br></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Class Start -->
<div class="class">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Home Workouts</p>
            <h2>Exercises we can do daily</h2>
        </div>
        
        <div class="row class-container">
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="assets/pushups.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        
                        <h2>Pushups</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>12-15 repetitions 3 sets</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-2 wow fadeInUp" data-wow-delay="0.2s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="assets/planking.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        
                        <h2>Planking</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>30 seconds - 1 minute </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="assets/stretching.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        
                        <h2>Stretching</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>head - toe stretching 16 seconds per part</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.6s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="assets/crunches.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        
                        <h2>Crunches</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>12-15 repetitions 3 sets</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-2 wow fadeInUp" data-wow-delay="0.8s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="assets/squat.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        
                        <h2>Squats</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>12-15 repetitions 3 sets</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-3 wow fadeInUp" data-wow-delay="1s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="assets/class-6.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        
                        <h2>Vinyasa yoga</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>5 minutes yoga exercises</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Class End -->


<!-- Discount Start -->
<div class="discount wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="section-header text-center">
            <p>DIY Equipments</p>
            <h2>Do your own <span>DIY</span> Equipments</h2>
        </div>
        <div class="container discount-text">
            <p>
                For further body improvement, we use equipments to intensify our workout and we can make our own workout equipments from the things we can see at home. 
            </p>

        </div>
    </div>
</div>
<!-- Discount End -->


<!-- Price Start -->
<div class="price">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>DIY EQUIPMENTS</p>
            <h2>Do it on your own!</h2>
        </div>
        <div class="row">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.0s">
                <div class="price-item">
                    <div class="price-header">
                        
                        <div class="price-prices">
                            <h2>DIY <br> Weights</h2>
                        </div>
                    </div>
                    <div class="price-body">
                        <div class="price-description">
                            <ul>
                                <li>Sack</li>
                                <li>Anything you want to put inside</li>
                                <li>Sew the opening of the sack</li>
                                <li>Easy to make and acquirable</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="price-item featured-item">
                    <div class="price-header">
                        
                        
                        <div class="price-prices">
                            <h2>Medicine ball</h2>
                        </div>
                    </div>
                    <div class="price-body">
                        <div class="price-description">
                            <ul>
                                <li>Old basketball</li>
                                <li>Sand</li>
                                <li>make a hole and fill the ball with sand</li>
                                <li>close the hole</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="price-item">
                    <div class="price-header">
                        
                        <div class="price-prices">
                            <h2>DIY Dumbbells</h2>
                        </div>
                    </div>
                    <div class="price-body">
                        <div class="price-description">
                            <ul>
                                <li>2 Pet Bottles (1 liter size)</li>
                                <li>Cement to fill the bottle</li>
                                <li>Iron Rod</li>
                                <li>fill the pet bottles with cement and stick the iron rod inside</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Price End -->


<!-- Testimonial Start -->
<div class="testimonial wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="section-header text-center">
            <p>Medical Advise</p>
            <h2>Our Medical Experts Say!</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="assets/testimonial-1.jpg" alt="Image">
                </div>
                <div class="testimonial-text">
                    <p>
                        Staying home can slow the spread of the coronavirus, and extreme physical distancing can prevent a person from getting the infection. Slowing the spread of infection does not have to mean giving up a fitness routine, though. People can perform plenty of exercises at home.
                    </p>
                    <h3>Lauren Jarmusz</h3>
                    <h4>PPT, DPT, OCS</h4>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="assets/testimonial-2.jpg" alt="Image">
                </div>
                <div class="testimonial-text">
                    <p>
                        Even if you're not much of a fitness fan, you may baulk at the prospect of staying indoors for a few weeks while barely raising your step count. Exercise is vital for our mental and physical health, and is arguably more important than ever during periods of self-isolation.
                    </p>
                    <h3>Dr Walter Jarvis</h3>
                    <h4>MBE</h4>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
